* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.header {
  background-image: url(../images/banner/banner1.png);
  background-repeat: no-repeat;
  background-size: auto;
}
.header-section {
  text-align: left;
  padding: 200px 100px 180px 800px;
}
.header-title {
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 20px;
}
.section-description {
  font-size: 18px;
  font-weight: 400;
  color: #777676;
}
.contact-button {
  height: 50px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  background-color: red;
  padding: 10px 20px;
  margin: 30px 0;
  cursor: pointer;
}
/* failures section */
.failures-section {
  display: flex;
  gap: 60px;
  margin: 0 200px;
  padding: 50px 0;
  align-items: center;
}
.failures-section .failures li {
  margin-top: 10px;
}
.section-title {
  font-size: 35px;
  font-weight: 900;
  padding: 25px 0px;
}
/* plans section */
.plans-section {
  padding: 50px 150px;
  text-align: center;
}
.plans {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  background-color: #ff5959;
  margin: 15px 0px;
  padding: 30px 10px;
}
.plan-name {
  font-size: 30px;
  font-weight: 900;
  padding: 10px 0;
}
.plan-title {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}
/* image section */
.image-section {
  background-image: linear-gradient(to left, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url(../images/watch.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 25px 150px;
  padding: 30px 0px;
}
.image-title {
  font-size: 35px;
  font-weight: 800;
  color: #ffffff;
  padding: 0px 100px;
  width: 40%;
}
.call-button {
  height: 50px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  color: #fa0505;
  background-color: #ffffff;
  padding: 10px 20px;
  margin: 20px 100px;
  cursor: pointer;
}
/* footer secton */
.footer-section {
  display: flex;
  justify-content: space-around;
  gap: 200px;
  margin-top: 100px;
  padding: 50px 250px 50px 150px;
  text-align: left;
  background-color: black;
}
.footer-text {
  font-size: 16px;
  padding: 10px 0;
  color: #ffffff;
}
.footer-section > .footer > a {
  text-decoration: none;
}
.footer-title {
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  text-align: left;
  padding: 10px 0;
}
.footer-section .email > input {
  margin-bottom: 20px;
  border: 0;
  width: 100%;
  border-radius: 5px;
  padding: 18px 50px;
}
.subscribe-button {
  height: 50px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  color: #fa0505;
  background-color: #ffffff;
  padding: 10px 20px;
  margin: 20px 0px;
  cursor: pointer;
}
