* {
  margin: 0;
  padding: 0;
}
.button {
  height: 50px;
  border-radius: 5px;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  background-color: #ff5959;
  padding: 10px 20px;
  margin: 30px 0;
}
.header {
  background-image: url(../images/banner/banner1.png);
  background-repeat: no-repeat;
  background-size: auto;
}
.header-section {
  text-align: right;
  padding-top: 200px;
  padding-right: 100px;
  padding-bottom: 180px;
  padding-left: 800px;
}
.header-title {
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 20px;
}
.section-description {
  font-size: 18px;
  font-weight: 400;
  color: #777676;
}
/* failures section */
.failures-section {
  display: flex;
  gap: 60px;
  margin: 0 200px;
  padding: 50px 0;
  align-items: center;
}
.failures-section .failures li {
  margin-top: 10px;
}
.section-title {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 10px;
}
